
<div class ='home-panel'>
    <div class = 'header-panel'>
        <div class='text-logo white-color-text'>TransformChina</div>
        <div class='button-field'>
            <div class="ui secondary  menu">
                <a class="active item">
                Home
                </a>
                <a class="item">
                MyProfile
                </a>
                <a class="item">
                FAQ
                </a>
                
                <div class="right menu">
                    <a class="ui item green">
                        LOGOUT
                    </a>
                </div>
            </div>
        </div>    
    <div>

    <div class = 'login-panel'>
        <div class='text-logo-fields'>
            <div class='log-box'>
                <div class='log'>T<div>
            <div>
            <div class='text-logo'>TransformChina</div>
        </div>

        <div class="ui form component-panel">
            <div class="inline fields">
                <div class="field">
                    <div class="ui radio checkbox">
                    <input type="radio" name="frequency" checked="checked">
                    <label>Visitor</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                    <input type="radio" name="frequency">
                    <label>Student</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                    <input type="radio" name="frequency">
                    <label>Teacher</label>
                    </div>
                </div>
            </div>
            <div class='input-label'>E-mail</div>
            <div class="input fields">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="checkmark icon"></i>
                </div>
            </div>
            <div class='input-label'>Password</div>
            <div class="input fields">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="remove icon"></i>
                </div>
            </div>
            <button class="positive ui button">Login</button>
        </div>
    </div>
</div>